# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
.vendor/

# GoLand files
.idea/

# Simulation files
.build/
simulation_result.txt

# macOS files
**/.DS_Store

# generated binaries
integration/gethnetwork/geth-release-1.10.17
integration/simulation/cmd/cmd
go/obscuronode/host/main/main
go/obscuronode/enclave/main/main

# Logs files
enclave_logs.txt

# ganache files
ganachedb/
