# Base config for all TEN services
#  - this contains sensible defaults where possible
#  - serves as template/documentation for config structure

network:
  chainId: 5443
  genesis: "{}" # json string of genesis block, used for configuring prefunded accounts etc.
  batch:
    interval: 1s
    maxInterval: 1s # if this is greater than batch.interval then we make batches more slowly when there are no transactions
    maxSize: 125952 # (128-5)kb - the size of the rollup minus overhead
  rollup:
    interval: 5s
    maxInterval: 120m # rollups will be produced after this time even if the data blob is not full
    maxSize: 131072 # 128kb - the size of a blob
  gas:
    minBaseFee: 100000000
    minGasPrice: 9999999
    paymentAddress: 0xd6C9230053f45F873Cb66D8A02439380a37A4fbF
    batchExecutionLimit: 300000000
    localExecutionCap: 300000000000 # 300 gwei
  l1:
    chainId: 1337
    blockTime: 15s
    rollupRetryDelay: 5s
    startHash: 0x0 # hash of the L1 block that Ten can safely start processing from to get entire L2 history
    contracts:
      networkConfig: 0x0 # L1 address of the Ten network config contract
      crossChain: 0x0 # L1 address of the Ten cross chain contract
      rollup: 0x0 # L1 address of the Ten rollup contract
      enclaveRegistry: 0x0 # L1 address of the Ten enclave registry contract
      messageBus: 0x0 # L1 address of the Ten message bus contract
      bridge: 0x0 # L1 address of the Ten bridge contract
  sequencer:
    p2pAddress: 0x0 # address of the sequencer's p2p server
    systemContractsUpgrader: 0x2 # L2 address of the EOA allowed to upgrade the system contract proxies
  crossChain:
    interval: 6s

node:
  nodeType: sequencer # sequencer or validator
  id: 0x0 # unique identifier for this node (currently based on its wallet eth address)
  hostAddress: 0x0 # address of the node's p2p server
  privateKey: 0x0 # private key for this node's eth account
  isGenesis: true # true only for the first sequencer on a fresh chain

host:
  db:
    useInMemory: true
    postgresHost: "" # host address for postgres db when used
    sqlitePath: "" # path to sqlite db, will use a throwaway temp file when empty
  debug:
    enableMetrics: true
    metricsPort: 14000
    enableProfiler: false
    enableDebugNamespace: false
  enclave:
    rpcAddresses: [ "127.0.0.1:11000" ] # list of enclave rpc addresses
    rpcTimeout: 10s
  l1:
    wsURL: ws://localhost:8546 # websocket URL for L1 RPC service
    beaconURL: eth2network:12600 # websocket URL for L1 beacon service
    blobArchiveURL: "" # URL for L1 blob archive service
    rpcTimeout: 15s
  log:
    level: 1
    path: sys_out # path to log file, will log to stdout when empty
  p2p:
    disableP2P: false
    bindAddress: 0.0.0.0:10000
    timeout: 10s
  rpc:
    address: 0.0.0.0
    enableHTTP: true
    httpPort: 80
    enableWS: true
    wsPort: 81

enclave:
  enableAttestation: false
  storeExecutedTransactions: true
  decompressionLimit: "10MB"
  db:
    useInMemory: true
    edgelessDBHost: "" # host address for postgres db when used
    sqlitePath: "" # path to sqlite db, will use a throwaway temp file when empty
  debug:
    enableDebugNamespace: false
    enableProfiler: false
  log:
    level: 1
    path: sys_out
  rpc:
    bindAddress: "0.0.0.0:11000"
    timeout: 5s
  attestation:
    signerID: "86b724901b8789b315be6d32a219506d16c98a1cda0f0c08d745d13715a7808e" # expected ID of the TEN signer
    edbSecurityVersion: 4 # default to original edgeless security version
    edbProductID: 16 # default to the original product ID edgeless use for EDB
deploy:
  debug: false # enable debug mode for deployer
  dockerImage: "testnetobscuronet.azurecr.io/obscuronet/hardhatdeployer:latest" # docker image for L1 contract deploys
  githubPAT: "" # optional GitHub personal access token for committing deployed contract addresses
  outputEnv: "" # path to output env file for L1 contract deploys (used in GH actions)
  networkName: "" # name of the testnet env, used as a prefix for KV keys for example
  l1:
    rpcAddress: "http://localhost:8545" # L1 RPC address for deploying contracts
    deployerPK: 0x0 # private key for the deployer account
    challengePeriod: 1 # challenge period for rollups in seconds
    initialSeqAddress: 0x0 # initial sequencer address for the L1 network, only address allowed to initialize the L2 network
    etherscanAPIKey: "" # optional Etherscan API key for verifying contracts on Etherscan
  l2:
    rpcAddress: "localhost" # L2 RPC address for deploying contracts
    httpPort: 80 # L2 RPC port for deploying contracts
    wsPort: 81 # L2 RPC port for deploying contracts
    deployerPK: 0x0 # private key for the deployer account
    faucetPrefund: 0 # amount of ETH to pre-fund the faucet account (for non-sepolia testnets)
    sequencerURL: "" # sequencer URL to fetch its HA enclave IDs