html {
    font-family: sans-serif;
    line-height: 1.5;
}

body {
    color: white;
    background-color: black;
    margin: 1rem;
}

a {
    color: white;
}

textarea {
    color: white;
    background-color: black;
    font-family: sans-serif;
    border: solid 1px white;
    border-radius: 3px;
}

button {
    color: white;
    background-color: black;
    border: solid 1px white;
    border-radius: 3px;
}

/*Formats the block-decoder form.*/
form  { display: table;      }
label { display: table-cell; }
input { display: table-cell; }

/* basic style for the accounts table*/
table {
    border-collapse: collapse;
    width: fit-content;
    margin: auto;  /* Center the table */
    background-color: #333;  /* Dark Background */
    color: white;  /* Light Text */
}
th, td {
    border: 1px solid #666;  /* Darker Border */
    padding: 15px;
    text-align: center;
}
th {
    background-color: #444;  /* Slightly Darker Header */
}
