# This compose requires SGX capable CPU

version: "3.9"
networks:
  default:
    name: node_network
services:
  host:
    networks:
      - default
    ports:
      - "13000:13000"
      - "13001:13001"
      - "6061:6061"
      - "10000:10000"
    environment:
      - MGMTCONTRACTADDR=some_address
      - PKSTRING=some_string
      - L1HOST=some_host
      - L1PORT=some_port
      - ISGENESIS=some_bool
      - NODETYPE=some_string
      - PROFILERENABLED=some_bool
      - P2PPUBLICADDRESS=some_string
      - LOGLEVEL=some_int
    labels:
      com.datadoghq.ad.check_names: '["openmetrics"]'
      com.datadoghq.ad.init_configs: '[{}]'
      com.datadoghq.ad.instances: |
        [
          {
            "openmetrics_endpoint": "http://host:14000/debug/metrics/prometheus",
            "namespace": "host",
            "metrics": [
              ".*"
            ]
          }
        ]
    image: "${DOCKER_HOST_IMAGE}"
    entrypoint: [
      "/home/obscuro/go-obscuro/go/host/main/main",
      "--l1NodeHost=$L1HOST",
      "--l1NodePort=$L1PORT",
      "--enclaveRPCAddress=enclave:11000",
      "--managementContractAddress=$MGMTCONTRACTADDR",
      "--privateKey=$PKSTRING",
      "--clientRPCHost=0.0.0.0",
      "--isGenesis=$ISGENESIS",
      "--nodeType=$NODETYPE",
      "--logLevel=$LOGLEVEL",
      "--logPath=sys_out",
      "--profilerEnabled=$PROFILERENABLED",
      "--p2pPublicAddress=$P2PPUBLICADDRESS"
    ]

  enclave:
    devices:
      - /dev/sgx_enclave
      - /dev/sgx_provision
    networks:
      - default
    ports:
      - "6060:6060"
    environment:
      - OE_SIMULATION=0
      - MGMTCONTRACTADDR=some_address
      - HOSTID=some_address
      - NODETYPE=some_string
      - PROFILERENABLED=some_bool
      - P2PPUBLICADDRESS=some_string
      - LOGLEVEL=some_int
      - SEQUENCERID=some_address
      - PCCS_ADDR
    image: "${DOCKER_ENCLAVE_IMAGE}"
    entrypoint: [
              "/home/obscuro/go-obscuro/go/enclave/main/entry.sh",
              "ego", "run", "/home/obscuro/go-obscuro/go/enclave/main/main",
                 "--hostID=$HOSTID",
                 "--address=:11000",
                 "--nodeType=$NODETYPE",
                 "--managementContractAddress=$MGMTCONTRACTADDR",
                 "--hostAddress=host:10000",
                 "--willAttest",
                 "--useInMemoryDB=false",
                 "--edgelessDBHost=edgelessdb",
                 "--profilerEnabled=$PROFILERENABLED",
                 "--hostAddress=$P2PPUBLICADDRESS",
                 "--logPath=sys_out",
                 "--logLevel=$LOGLEVEL",
                 "--sequencerID=$SEQUENCERID",
                 "--messageBusAddress=$MSGBUSCONTRACTADDR"
    ]

  edgelessdb:
    devices:
      - /dev/sgx_enclave
      - /dev/sgx_provision
    networks:
      - default
    environment:
      - EDG_EDB_CERT_DNS=edgelessdb
      - PCCS_ADDR
    ports:
      - "3306:3306"
      - "8080:8080"
    image: ghcr.io/edgelesssys/edgelessdb-sgx-4gb:v0.3.2
