html {
    font-family: sans-serif;
    line-height: 1.5;
}

body {
    color: white;
    background-color: black;
    margin: 1rem;
}

a {
    color: white;
}

textarea {
    color: white;
    background-color: black;
    font-family: sans-serif;
    border: solid 1px white;
    border-radius: 3px;
}

/*Formats the block-decoder form.*/
form  { display: table;      }
label { display: table-cell; }
input { display: table-cell; }