name: 'Build and Push Release Images'

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to build and push (leave empty for latest)'
        required: true
        default: ''
      azure_tenant_id:
        description: 'Azure Tenant ID (leave empty to use the local testing key)'
        required: false
        type: string
        default: ''
      azure_subscription_id:
        description: 'Azure Subscription ID (leave empty to use the local testing key)'
        required: false
        type: string
        default: ''

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: 1.23.5

      - name: 'Login to Azure docker registry'
        uses: azure/docker-login@v1
        with:
          login-server: testnetobscuronet.azurecr.io
          username: testnetobscuronet
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: 'Get version'
        id: get_version
        run: |
          if [ "${{ github.event_name }}" = "release" ]; then
            echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          elif [ -n "${{ github.event.inputs.tag }}" ]; then
            echo "VERSION=${{ github.event.inputs.tag }}" >> $GITHUB_OUTPUT
          else
            # Fetch the latest tag from the repository
            LATEST_TAG=$(git describe --tags `git rev-list --tags --max-count=1`)
            echo "VERSION=${LATEST_TAG}" >> $GITHUB_OUTPUT
          fi

      - name: 'Build and push obscuro node images'
        env:
          VERSION: ${{ steps.get_version.outputs.VERSION }}
          AZURE_TENANT_ID: ${{ github.event.inputs.azure_tenant_id }}
          AZURE_SUBSCRIPTION_ID: ${{ github.event.inputs.azure_subscription_id }}
        run: |
          DOCKER_BUILDKIT=1 docker build -t testnetobscuronet.azurecr.io/obscuronet/enclave:${VERSION} \
            --build-arg AZURE_TENANT_ID=${AZURE_TENANT_ID} \
            --build-arg AZURE_SUBSCRIPTION_ID=${AZURE_SUBSCRIPTION_ID} \
            -f dockerfiles/enclave.Dockerfile .
          docker push testnetobscuronet.azurecr.io/obscuronet/enclave:${VERSION}
          DOCKER_BUILDKIT=1 docker build -t testnetobscuronet.azurecr.io/obscuronet/host:${VERSION} -f dockerfiles/host.Dockerfile .
          docker push testnetobscuronet.azurecr.io/obscuronet/host:${VERSION}
          DOCKER_BUILDKIT=1 docker build -t testnetobscuronet.azurecr.io/obscuronet/l1challengeperiod:${VERSION} -f dockerfiles/l1challengeperiod.Dockerfile .
          docker push testnetobscuronet.azurecr.io/obscuronet/l1challengeperiod:${VERSION}
          DOCKER_BUILDKIT=1 docker build -t testnetobscuronet.azurecr.io/obscuronet/l1contractdeployer:${VERSION} -f dockerfiles/l1contractdeployer.Dockerfile .
          docker push testnetobscuronet.azurecr.io/obscuronet/l1contractdeployer:${VERSION}
          DOCKER_BUILDKIT=1 docker build -t testnetobscuronet.azurecr.io/obscuronet/l1grantsequencers:${VERSION} -f dockerfiles/l1grantsequencers.Dockerfile .
          docker push testnetobscuronet.azurecr.io/obscuronet/l1grantsequencers:${VERSION}
          DOCKER_BUILDKIT=1 docker build -t testnetobscuronet.azurecr.io/obscuronet/l2contractdeployer:${VERSION} -f dockerfiles/l2contractdeployer.Dockerfile .
          docker push testnetobscuronet.azurecr.io/obscuronet/l2contractdeployer:${VERSION}
          
