name: 'Build and Push Release Images (ALIBABA)'

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to build and push (leave empty for latest)'
        required: true
        default: ''

env:
  CONTAINER_REGISTRY: crpi-im6sg8q4x42zs9n3.eu-west-1.personal.cr.aliyuncs.com

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: development

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: 1.23.5

      - name: 'Login to Alibaba Cloud Container Registry'
        run: |
          # Login to Docker with credentials
          echo "${{ secrets.ALIBABA_REGISTRY_PASSWORD }}" | docker login ${{ env.CONTAINER_REGISTRY }} -u will@5131971543297513 --password-stdin

      - name: 'Verify Docker Login'
        run: |
          # Check if we're logged in
          docker login ${{ env.CONTAINER_REGISTRY }} -u will@5131971543297513 --password-stdin <<< "${{ secrets.ALIBABA_REGISTRY_PASSWORD }}"
          # List available repositories (this will fail if not authenticated)
          docker search ${{ env.CONTAINER_REGISTRY }}/ten-testnet/tentestnet

      - name: 'Get version'
        id: get_version
        run: |
          if [ "${{ github.event_name }}" = "release" ]; then
            echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          elif [ -n "${{ github.event.inputs.tag }}" ]; then
            echo "VERSION=${{ github.event.inputs.tag }}" >> $GITHUB_OUTPUT
          else
            # Fetch the latest tag from the repository
            LATEST_TAG=$(git describe --tags `git rev-list --tags --max-count=1`)
            echo "VERSION=${LATEST_TAG}" >> $GITHUB_OUTPUT
          fi

      - name: 'Build and push TEN node images'
        env:
          VERSION: ${{ steps.get_version.outputs.VERSION }}
        run: |
          # Build and push enclave image
          DOCKER_BUILDKIT=1 docker build -t ${{ env.CONTAINER_REGISTRY }}/ten-testnet/tentestnet/enclave:${VERSION} -f dockerfiles/enclave.Dockerfile .
          docker push ${{ env.CONTAINER_REGISTRY }}/ten-testnet/tentestnet/enclave:${VERSION}
          
          # Build and push host image
          DOCKER_BUILDKIT=1 docker build -t ${{ env.CONTAINER_REGISTRY }}/ten-testnet/tentestnet/host:${VERSION} -f dockerfiles/host.Dockerfile .
          docker push ${{ env.CONTAINER_REGISTRY }}/ten-testnet/tentestnet/host:${VERSION}
