name: 'Build and Push Release Images (ALIBABA)'

#on:
#  release:
#    types: [published]
on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to build and push (leave empty for latest)'
        required: true
        default: ''

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: development

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: 1.23.5

      - name: Manual login test
        run: echo "${{ secrets.ALIBABA_REGISTRY_PASSWORD }}" | docker login \
          --username=will@5131971543297513 \
          --password-stdin crpi-im6sg8q4x42zs9n3.eu-west-1.personal.cr.aliyuncs.com

      - name: 'Login to Alibaba Cloud Container Registry'
        uses: docker/login-action@v3
        with:
          registry: crpi-im6sg8q4x42zs9n3.eu-west-1.personal.cr.aliyuncs.com
          username: will@5131971543297513
          password: ${{ secrets.ALIBABA_REGISTRY_PASSWORD }}

      - name: 'Get version'
        id: get_version
        run: |
          if [ "${{ github.event_name }}" = "release" ]; then
            echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          elif [ -n "${{ github.event.inputs.tag }}" ]; then
            echo "VERSION=${{ github.event.inputs.tag }}" >> $GITHUB_OUTPUT
          else
            # Fetch the latest tag from the repositoryprot
            LATEST_TAG=$(git describe --tags `git rev-list --tags --max-count=1`)
            echo "VERSION=${LATEST_TAG}" >> $GITHUB_OUTPUT
          fi

      - name: 'Build and push obscuro node images'
        env:
          VERSION: ${{ steps.get_version.outputs.VERSION }}
        run: |
          DOCKER_BUILDKIT=1 docker build -t crpi-im6sg8q4x42zs9n3.eu-west-1.personal.cr.aliyuncs.com/obscuronet/enclave:${VERSION} -f dockerfiles/enclave.Dockerfile .
          docker push crpi-im6sg8q4x42zs9n3.eu-west-1.personal.cr.aliyuncs.com/obscuronet/enclave:${VERSION}
          DOCKER_BUILDKIT=1 docker build -t crpi-im6sg8q4x42zs9n3.eu-west-1.personal.cr.aliyuncs.com/obscuronet/host:${VERSION} -f dockerfiles/host.Dockerfile .
          docker push crpi-im6sg8q4x42zs9n3.eu-west-1.personal.cr.aliyuncs.com/obscuronet/host:${VERSION}
