name: Build PR
# Builds and runs tests on each push to a branch PR'ed against main.

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.8

      - name: Set up Docker
        uses: docker/setup-buildx-action@v1

      - name: Clean-up
        run: | 
          sudo docker stop $(sudo docker ps -a -q)
          sudo docker rm $(sudo docker ps -a -q)
          sudo pkill -f geth
          sudo pkill -f obscuronode
          sudo lsof -ti:30000-39999|xargs -r sudo kill -9
          sudo lsof -i -P -n | grep LISTEN

      - name: Build Docker images
        run:  docker build -t obscuro_enclave -f dockerfiles/enclave_local_build.Dockerfile .

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test --failfast -v ./...
        env:
          USE_GETH_BINARY: true

      - name: Store simulation logs
        uses: actions/upload-artifact@v3
        with:
          name: sim-logs
          path: |
            integration/.build/simulations/sim-log-*.txt
            integration/.build/noderunner/noderunner-*.txt
        if: always() # Ensures the artifacts are created even if the tests fail.
