name: golangci-lint
on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'design/**'
      - 'planning/**'
    tags:
      - v*
    branches:
      - main
      - releases/v1.1
  pull_request:
permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.5'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64
